@import url('https://fonts.googleapis.com/css2?family=Mr+Dafoe&family=Roboto&display=swap');

@font-face{
    font-family: 'Santio';
    src: url(../font/Santio\ Bold.otf);
}

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Santio';
    background: url(../img/cleo-topper.jpg) center/cover no-repeat fixed;
    color: #fff;
}

/* ************ header ************ */
header{
    font-family: 'Roboto', sans-serif;
    text-align: right;
    background: rgba(0, 0, 0, 0.4);
    padding: 20px 10%;
}

header img{
    width: 15px;
    display: inline-block;
    padding-right: 10px;
}

header h1{
    line-height: 1.2em;
    font-size: 1em;
    display: inline-block;
    border-bottom: 1px solid #e7bc0e;
    letter-spacing: 2px;
}

/* ************ main ************ */
section{
    background: rgba(0, 0, 0, 0.4);
    padding: 100px 10%;
}

section:nth-of-type(1) h1{
    font-size: 5em;
    margin-bottom: 100px;
}

section:nth-of-type(1) p{
    font-family: 'Mr Dafoe', cursive;
    font-size: 3em;
    color: #e7bc0e;
    margin-bottom: 300px;
}

section:nth-of-type(2) p{
    font-size: 3em;
    padding: 0 5%;
    color: #6bc1a3;
    margin-bottom: 300px;
    line-height: 1.5em;
}

span{
    color: #fff;
    background: #333;
}

section:nth-of-type(3) article{
    text-transform: uppercase;
    margin-bottom: 200px;
}

section:nth-of-type(3) article img{
    width: 200px;
    margin-bottom: 50px;
}

section:nth-of-type(3) article h2{
    font-size: 10em;
    letter-spacing: 5px;
}

section:nth-of-type(3) article p{
    font-size: 3em;
    letter-spacing: 1px;
}

section:nth-of-type(3) article:nth-of-type(1){
    color: #e7bc0e;
}

section:nth-of-type(3) article:nth-of-type(2){
    color: #cb91b6;
}

section:nth-of-type(3) article:nth-of-type(3){
    color: #6bc1a3;
}

section:nth-of-type(4) p{
    padding-left: 30%;
    font-size: 3em;
    color: #7eb8e1;
    letter-spacing: 1px;
    line-height: 1.5em;
}

section:nth-of-type(5){
    background: #fff url(../img/see.png) center/cover no-repeat;
    padding: 0;
}

section:nth-of-type(5) img{
    display: block;
    width: 100%;
}

section:nth-of-type(6){
    background: #000;
    padding: 200px 50px;
}

section:nth-of-type(6) h2{
    font-size: 8em;
    letter-spacing: 3px;
    margin-bottom: 100px;
}

section:nth-of-type(6) a{
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 20px 30px;
    letter-spacing: 1px;
    font-size: 2em;
}

section:nth-of-type(6) a:hover{
    box-shadow: 5px 5px 0 #fff;
}

/* ************ footer ************ */
footer{
    background: #000;
    text-align: center;
    letter-spacing: 1px;
}

footer a{
    color: #6bc1a3;
    text-decoration: none;
}

footer a:hover{
    text-decoration: underline;
}